body {
  font-family: 'Roboto', sans-serif;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

:root {
  --brand-color: #2196f3;
  --main-text-color: #212121;
  --second-text-color: #757575;
  --footer-background-color: #2f303a;
  --last-text-color: #ffffff;
  --second-background-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}

.logo {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-family: 'Raleway', sans-serif;
}
.logo-first-word {
  color: var(--brand-color);
  font-weight: 700;
}
.header-navigation a {
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.communication-links a {
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.header-navigation a:hover,
.header-navigation a:focus,
.communication-links a:hover,
.communication-links a:focus {
  color: var(--brand-color);
}
.nav-link-studia.current,
.nav-link-portfolio.current {
  color: var(--brand-color);
}

.tittle {
  background-color: var(--footer-background-color);
  text-align: center;
}
.tittle h1 {
  color: var(--last-text-color);
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  text-transform: uppercase;
}
.tittle button {
  background-color: var(--brand-color);
  color: white;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  cursor: pointer;
  font-family: inherit;
  letter-spacing: 0.06em;
}

.studio-section-advantage h3 {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
}
.studio-section-advantage p {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.studio-section-our-activity h2 {
  font-size: 36px;
  line-height: 1.16;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
}

.studio-section-our-team {
  background-color: var(--second-background-color);
}
.studio-section-our-team h2 {
  text-align: center;
  font-size: 36px;
  line-height: 1.16;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
}
.studio-list-our-team h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}
.studio-list-our-team h3 {
  font-size: 16px;
  line-height: 1.18;
  font-weight: 500;
  letter-spacing: 0.03em;
}
.studio-list-our-team p {
  line-height: 1.18;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.portfolio-button-filter button {
  background-color: var(--second-background-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-family: inherit;
}
.portfolio-button-filter button:hover,
.portfolio-button-filter button:focus {
  background-color: var(--brand-color);
  color: var(--last-text-color);
}

.list-portfolio p {
  color: var(--second-text-color);
  letter-spacing: 0.03em;
  line-height: 1.87;
}
.list-portfolio h2 {
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

footer {
  background-color: var(--footer-background-color);
}
.logo-footer-second-word {
  color: var(--last-text-color);
}

.footer-communication-links a {
  color: var(--footer-text-color);
  font-size: 14px;
  line-height: 1.7;
  font-weight: 500;
  font-style: normal;
}

address p {
  color: var(--last-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}
.footer-communication-links a:hover,
.footer-communication-links a:focus {
  color: var(--brand-color);
}
